<ion-view view-title="Search">
    <ion-content>
        <br><br>

        <div ng-if="user.permission == 'Admin'">

            <div class="list card" >
                <div class="item item-divider">
                    <span style="font-weight: bold"> Pagina de Administração </span>
                </div>


                <div class="list card">
                    <a class="item item-icon-left assertive" href="#/banUsers">
                        <i class="icon ion-person-stalker orange" style="font-size:150%"></i>
                        <a1 class="orange"> Gerir utilizadores </a1>
                    </a>
                </div>
                <div class="list card">
                    <a class="item item-icon-left assertive" href="#/createWorkLocation">
                        <i class="icon ion-briefcase orange" style="font-size:150%"></i>
                        <a1 class="orange"> Criar locais de trabalho </a1>
                    </a>
                </div>
                <div class="list card">
                    <a class="item item-icon-left assertive" href="#/listWorkLocation">
                        <i class="icon ion-trash-b orange" style="font-size:150%"></i>
                        <a1 class="orange"> Remover locais de trabalho </a1>
                    </a>
                </div>
            </div>

            <div class="list card">
                <a class="item item-icon-left assertive" href="#/profile">
                    <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                    <a1 class="orange"> Regressar </a1>
                </a>
            </div>
        </div>

        <div ng-if="user.permission == 'User'">

            <div class="list card" >
                <div class="item item-divider">
                    <span style="font-weight: bold"> Acesso negado </span>
                </div>
            </div>

            <div class="list card">
                <a class="item item-icon-left assertive" href="#/home">
                    <i class="icon ion-android-arrow-forward orange" style="font-size:150%"></i>
                    <a1 class="orange"> Voltar à Homepage </a1>
                </a>
            </div>

        </div>




    </ion-content>
</ion-view>