<ion-view view-title="Ban users">
    <ion-content>
        <br><br>

        <div class="list card">
            <ion-list>
                <div class="item item-divider" style="white-space:normal">
                    <span>Utilizadores da Aplicação</span>
                    <div class="list list-inset search-bar">
                        <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="text" placeholder="Nome ou Email do Utilizador" ng-model="valor">
                        </label>
                    </div>
                </div>
                <ion-item class="item-remove-animate item-avatar" ng-repeat="user in users | filter : valor | limitTo : 5 | orderBy : 'name'" type="item-text-wrap">
                    <img ng-src="{{user.photo}}" src="" onError="this.onerror=null;this.src='img/default_profile_photo.png';">
                    <h2>{{user.name}}</h2>
                    <p>{{user.email}}</p>
                    <ion-option-button class="button-balanced item-icon-left" ng-click="promoteUser(user.id)" ng-if="user.permission === 'User'">
                        <i class="icon ion-android-arrow-up" style="color:white"> </i>
                    </ion-option-button>
                    <ion-option-button class="button-assertive item-icon-left" ng-click="removeUser(user.id)">
                        <i class="icon ion-trash-b" style="color:white"> </i>
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>

        <div class="list card">
            <a class="item item-icon-left assertive" href="#/adminPage">
                <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                <a1 class="orange"> Regressar </a1>
            </a>
        </div>
        <br><br>
    </ion-content>
</ion-view>
