<ion-view view-title="createRide">
    <ion-content>
        <br><br><br><br>

        <ion-scroll delegate-handle="taskScroll" direction="x" ng-controller="CreateRideTypeCtrl" >
            <div class="button-bar">
                <a ng-repeat="type in collection"
                   ng-class="{ 'button-searchType-selected': $index == selectedRideType, 'button-searchType-inactive': $index != selectedRideType }"
                   ng-click="itemClicked($index)"
                   class="button button-searchType-selected">
                    {{type}}
                </a>
            </div>
        </ion-scroll>
        <form novalidate>
          <div class="row">
            <div class="card col search-ride" ng-if= "selectedRideType === 0">
                <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                    <i class="icon ion-home"></i>
                    Partida
                </div>
                <button class="button button-ride-search" ng-model="newRide.startDistrict" ng-click="showModalDistrict()">
                    <a ng-class="districtValidation">{{district}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.startMunicipality" ng-click="showModalMunicipality()">
                    <a ng-class="municipalityValidation">{{municipality}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.startStreet" ng-click="showModalStreet()">
                    <a ng-class="streetValidation">{{street}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.startLocationInfo" ng-click="showModalInfo()">
                    <a ng-class="infoValidation">{{info}}</a>
                </button>
            </div>
            <div class="card col search-ride" ng-if= "selectedRideType === 1">
              <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                  <i class="icon ion-home"></i>
                  Partida
              </div>
              <button class="button button-ride-search" ng-disabled="true">
              </button>
              <button class="button button-ride-search" ng-model="newRide.locationName" ng-click="showModalWorkLocation()">
                  <a ng-class="workLocationValidation">{{workLocation}}</a>
              </button>

            </div>

            <div class="card col search-ride" ng-if= "selectedRideType === 2">
                <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                    <i class="icon ion-home"></i>
                    Partida
                </div>
                <input class="button button-ride-search" placeholder="Morada" ng-model="occasional.startAddress" required></input>
                <input class="button button-ride-search" placeholder="Identificador" ng-model="occasional.startIdentifier" required></input>
              </div>

            <div class="card col search-ride" ng-if= "selectedRideType === 0">
              <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                  <i class="icon ion-ios-location"></i>
                  Destino
              </div>
               <button class="button button-ride-search" ng-disabled="true">
              </button>
              <button class="button button-ride-search" ng-model="newRide.locationName" ng-click="showModalWorkLocation()">
                  <a ng-class="workLocationValidation">{{workLocation}}</a>
              </button>
            </div>

            <div class="card col search-ride" ng-if= "selectedRideType === 1">
                <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                    <i class="icon ion-ios-location"></i>
                    Destino
                </div>
                <button class="button button-ride-search" ng-model="newRide.destinationDistrict" ng-click="showModalDistrict()">
                    <a ng-class="districtValidation">{{district}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.destinationMunicipality" ng-click="showModalMunicipality()">
                    <a ng-class="municipalityValidation">{{municipality}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.destinationStreet" ng-click="showModalStreet()">
                    <a ng-class="streetValidation">{{street}}</a>
                </button>
                <button class="button button-ride-search" ng-model="newRide.destinationLocationInfo" ng-click="showModalInfo()">
                    <a ng-class="infoValidation">{{info}}</a>
                </button>
            </div>

            <div class="card col search-ride" ng-if= "selectedRideType === 2">
                <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                    <i class="icon ion-ios-location"></i>
                    Destino
                </div>
                <input class="button button-ride-search" placeholder="Morada" ng-model="occasional.destinationAddress" required>
                <input class="button button-ride-search" placeholder="Identificador" ng-model="occasional.destinationIdentifier" required>
            </div>

          </div>

          <div class="list" style="width:93%;margin-left:3.5%">
            <label class="item item-input item-stacked-label">
      		    <span class="input-label">Lugares</span>
      		    <input type= "number" ng-model="newRide.seats" required>
      		  </label>

            <label class="item item-input item-stacked-label">
              <div class="input-label">
      		      Tipo de custo
      		    </div>
              <br>
      		    <select ng-model="newRide.typeCost">
      		      <option>Pago pela empresa</option>
      		      <option selected>Pagar ao condutor</option>
      		    </select>
      		  </label>

            <label class="item item-input item-stacked-label">
      		    <span class="input-label">Custo</span>
              <input type= "number" ng-model="newRide.cost">
      		  </label>

      		  <label class="item item-input item-stacked-label" ng-if= "createNew === 'createNow'">
      		    <span class="input-label">Data</span>
      		    <input type="date" placeholder="yyyy-MM-dd" ng-model="newRide.date" required>
      		  </label>

      		  <label class="item item-input item-stacked-label">
      		    <span class="input-label">Hora</span>
      		    <input type="time" placeholder="hrs:mins" ng-model="newRide.hour" required>
      		  </label>
            <label class="item item-input item-stacked-label" ng-if= "createNew === 'createInfo'">
      		    <span class="input-label">Nome da boleia pré-definida</span>
      		    <input type="text" ng-model="newRide.rideInfoName" required>
      		  </label>
      		</div>

  <!--
          <div class="list" style="width:93%;margin-left:3.5%">
      		  <label class="item item-input item-select">
      		    <div class="input-label">
      		      Tipo
      		    </div>
      		    <select ng-model="newRide.type">
      		      <option>Casa->Trabalho</option>
      		      <option selected>Trabalho->Casa</option>
      		      <option>Ocasional</option>
      		    </select>
      		  </label>
      		</div>
  -->
          <input class="button button-large submit-search" type="submit" value="Criar Boleia" ng-click="createRide(newRide)" ng-if= "createNew === 'createNow'">
          <input class="button button-large submit-search" type="submit" value="Criar Boleia" ng-click="createRideInfo(newRide)" ng-if= "createNew === 'createInfo'">
        </form>
        <br><br>
        <br><br>

    </ion-content>

    <script id="districts.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Escolha o distrito</h1>
        </ion-header-bar>
        <ion-content>

        <div class="list" >

          <a ng-click="districtSelected(district)"
              class="item item-icon-left"
              ng-repeat="district in districts">
            {{district}}
          </a>

        </div>

        </ion-content>
      </ion-modal-view>
    </script>

    <script id="municipalities.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Escolha o concelho</h1>
        </ion-header-bar>
        <ion-content>

        <div class="list" >

          <a ng-click="municipalitySelected(municipality)"
              class="item item-icon-left"
              ng-repeat="municipality in municipalities">
            {{municipality}}
          </a>

        </div>

        </ion-content>
      </ion-modal-view>
    </script>

    <script id="streets.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Identifique a rua</h1>
        </ion-header-bar>
        <ion-content>

          <input class="button button-ride-search" placeholder="Rua" ng-model="newRide.street">
          <input class="button button-ride-search" value="Submeter pedido" type="submit" ng-click="streetSelected(newRide.street)">

        </ion-content>
      </ion-modal-view>
    </script>

    <script id="info.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Coloque alguma informação adicional para ajudar a descobrir o local</h1>
        </ion-header-bar>
        <ion-content>

          <input class="button button-ride-search" placeholder="Info" ng-model="newRide.info">
          <input class="button button-ride-search" value="Submeter pedido" type="submit" ng-click="infoSelected(newRide.info)">

        </ion-content>
      </ion-modal-view>
    </script>

    <script id="workLocations.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Escolha o local de trabalho</h1>
        </ion-header-bar>
        <ion-content>

        <div class="list" >

          <a ng-click="workLocationSelected(workLocation)"
              class="item item-icon-left"
              ng-repeat="workLocation in workLocations">
            {{workLocation}}
          </a>

        </div>

        </ion-content>
      </ion-modal-view>
    </script>


</ion-view>
