<ion-view view-title="createRide">
    <ion-content>
        <br><br><br><br>

        <ion-scroll delegate-handle="taskScroll" direction="x" ng-controller="CreateRideTypeCtrl" >
            <div class="button-bar">
                <a ng-repeat="type in collection"
                   ng-class="{ 'button-searchType-selected': $index == selectedRideType, 'button-searchType-inactive': $index != selectedRideType }"
                   ng-click="itemClicked($index)"
                   class="button button-searchType-selected" style="font-size: 12px">
                    {{type}}
                </a>
            </div>
        </ion-scroll>
        <form novalidate name="createRideForm">
            <div class="row">
                <div class="card col search-ride" ng-if= "selectedRideType === 0">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-home"></i>
                        Partida
                    </div>
                    <div class="button button-ride-search text-center" ng-model="newRide.startDistrict" ng-click="showModalDistrict()">
                        <a ng-class="districtValidation">{{district}}</a>
                    </div>
                    <div class="button button-ride-search text-center" ng-if="district != 'Distrito'" ng-model="newRide.startMunicipality" ng-click="showModalMunicipality()">
                        <a ng-class="municipalityValidation">{{municipality}}</a>
                    </div>
                    <input class="button button-ride-search text-center" ng-if="district != 'Distrito'" placeholder="Rua" ng-model="newRide.street" required/>
                    <input class="button button-ride-search text-center" ng-if="district != 'Distrito'" placeholder="Info" ng-model="newRide.locationInfo"/>
                </div>
                <div class="card col search-ride" ng-if= "selectedRideType === 1">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-home"></i>
                        Partida
                    </div>
                    <div class="button button-ride-search" ng-model="newRide.locationName" ng-click="showModalWorkLocation()">
                        <a ng-class="workLocationValidation">{{workLocation}}</a>
                    </div>

                </div>

                <div class="card col search-ride" ng-if= "selectedRideType === 2">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-home"></i>
                        Partida
                    </div>
                    <input class="button button-ride-search" placeholder="Morada" ng-model="occasional.startAddress" required/>
                    <input class="button button-ride-search" placeholder="Identificador" ng-model="occasional.startIdentifier" required/>
                </div>
            </div>
            <div class="row">
                <div class="card col search-ride" ng-if= "selectedRideType === 0">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-ios-location"></i>
                        Destino
                    </div>
                    <div class="button button-ride-search" ng-model="newRide.locationName" ng-click="showModalWorkLocation()">
                        <a ng-class="workLocationValidation">{{workLocation}}</a>
                    </div>
                </div>

                <div class="card col search-ride" ng-if= "selectedRideType === 1">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-ios-location"></i>
                        Destino
                    </div>
                    <div class="button button-ride-search" ng-model="newRide.destinationDistrict" ng-click="showModalDistrict()">
                        <a ng-class="districtValidation">{{district}}</a>
                    </div>
                    <div class="button button-ride-search" ng-if="district != 'Distrito'" ng-model="newRide.destinationMunicipality" ng-click="showModalMunicipality()">
                        <a ng-class="municipalityValidation">{{municipality}}</a>
                    </div>
                    <input class="button button-ride-search" ng-if="district != 'Distrito'" placeholder="Rua" ng-model="newRide.street" required/>
                    <input class="button button-ride-search" ng-if="district != 'Distrito'" placeholder="Info" ng-model="newRide.locationInfo"/>
                </div>

                <div class="card col search-ride" ng-if= "selectedRideType === 2">
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-ios-location"></i>
                        Destino
                    </div>
                    <input class="button button-ride-search" placeholder="Morada" ng-model="occasional.destinationAddress" required>
                    <input class="button button-ride-search" placeholder="Identificador" ng-model="occasional.destinationIdentifier" required>
                </div>

            </div>

            <div style="width:93%;margin-left:3.5%">

                <label>
                    <span class="input-label">Lugares</span>
                    <input type= "number" id="seats" name="seats" ng-model="newRide.seats" required>
              <span style="color:red" ng-show="createRideForm.seats.$dirty">
                <span ng-show="createRideForm.seats.$error.number">Não colocou um número válido</span>
                <span ng-show="createRideForm.seats.$error.required">Número de lugares tem que ser especificado</span>
              </span>
                </label>

                <label ng-if="selectedRideType == 2">
              <span class="input-label">
      		      Tipo de custo
      		    </span>
                    <select id="typeCost" ng-init="newRide.typeCost='Pago pela empresa'" ng-model="newRide.typeCost" required
                            ng-options='option.value as option.name for option in costTypeOptions' ng-change="changeTypeCost(newRide.typeCost)">
                    </select>
                </label>

                <label>
                    <span class="input-label">Custo</span>
                    <input type= "number" id="cost" name="cost" ng-model="newRide.cost" required ng-disabled="freeRide">
              <span style="color:red" ng-show="createRideForm.cost.$dirty">
                <span ng-show="createRideForm.cost.$error.number">Não colocou um número válido</span>
                <span ng-show="createRideForm.cost.$error.required">O custo de cada passageiro tem que ser especificado</span>
              </span>
                </label>

                <label ng-if= "createNew === 'createNow'">
                    <span class="input-label">Data</span>
                    <input type="date" id="date" name="date" placeholder="AAAA-MM-DD" ng-model="newRide.date" required>
                    <span style="color:red" ng-show="createRideForm.date.$dirty">
                      <span ng-show="createRideForm.date.$error.date">Não colocou uma data válida</span>
                      <span ng-show="createRideForm.date.$error.required">A data do começo da boleia tem que ser especificada</span>
                    </span>
                </label>

                <label>
                    <span class="input-label">Hora</span>
                    <input type="time" id="time" name="time" placeholder="HH:MM" ng-model="newRide.hour" required>
                    <span style="color:red" ng-show="createRideForm.time.$dirty">
                      <span ng-show="createRideForm.time.$error.time">Não colocou um tempo válido</span>
                      <span ng-show="createRideForm.time.$error.required">O tempo de partida tem que ser especificado</span>
                    </span>
                </label>

                <label ng-if= "createNew === 'createInfo'">
                    <span class="input-label">Nome da boleia</span>
                    <input type="text" id="infoName" name="infoName" ng-model="newRide.rideInfoName" required>
                    <span style="color:red" ng-show="createRideForm.infoName.$dirty">
                      <span ng-show="createRideForm.infoName.$error.required">O nome desta boleia pré-definida tem que ser especificada</span>
                    </span>
                </label>
            </div>
            <br>

            <div class="card" ng-if= "createNew === 'createNow'">
                <a class="item item-icon-left assertive" ng-click="createRide(newRide)">
                    <i class="icon ion-android-car rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                    <a1 class="orange"> Criar Boleia</a1>
                </a>
            </div>
            <div class="card" ng-if= "createNew === 'createInfo'">
                <a class="item item-icon-left assertive" ng-click="createRideInfo(newRide)">
                    <i class="icon ion-android-car rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                    <a1 class="orange"> Criar Boleia Pré-Definida </a1>
                </a>
            </div>
            <div class="card">
                <a class="item item-icon-left assertive" href="#/profile" style="background-color:#fff">
                    <i class="icon ion-close rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                    <a1 class="orange"> Cancelar </a1>
                </a>
            </div>

        </form>


        <br><br>
        <br><br>

    </ion-content>

    <script id="districts.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha o distrito</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="districtSelected(district)"
                       class="item item-icon-left"
                       ng-repeat="district in districts">
                        {{district}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="municipalities.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha o concelho</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="municipalitySelected(municipality)"
                       class="item item-icon-left"
                       ng-repeat="municipality in municipalities">
                        {{municipality}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="workLocations.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha o local de trabalho</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="workLocationSelected(workLocation)"
                       class="item item-icon-left"
                       ng-repeat="workLocation in workLocations">
                        {{workLocation}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="extractRideInfo.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha as informações da boleia que pré-definiu</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="rideInfoSelected(ownRideInfo)"
                       class="item item-icon-left"
                       ng-repeat="ownRideInfo in ownRideInfos">
                        {{ownRideInfo.name}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>


</ion-view>
