<ion-view view-title="createWorkLocation">
    <ion-content>
        <br><br><br><br>
        <form>

            <div class="row">
                <div class="card col search-ride" >
                    <div class="item item-text-wrap item-icon-left" style="background-color: #DDD">
                        <i class="icon ion-home"></i>
                        Local de trabalho
                    </div>
                    <div class="button button-ride-search" ng-model="workLocation.district" ng-click="showModalDistrict()">
                        {{workLocation.district}}
                    </div>
                    <div class="button button-ride-search" ng-model="workLocation.municipality" ng-click="showModalMunicipality()" ng-if="workLocation.district != 'Distrito'">
                        {{workLocation.municipality}}
                    </div>
                    <div class="button button-ride-search" ng-model="workLocation.street" ng-click="showModalStreet()" ng-if="workLocation.district != 'Distrito'">
                        {{workLocation.street}}
                    </div>
                    <div class="button button-ride-search" ng-model="workLocation.info" ng-click="showModalInfo()" ng-if="workLocation.district != 'Distrito'">
                        {{workLocation.info}}
                    </div>
                </div>
            </div>

            <div class="list" style="width:93%;margin-left:3.5%">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome do local de trabalho</span>
                    <input type= "text" ng-model="workLocation.workLocationName">
                </label>
            </div>

            <div class="card">
                <a class="item item-icon-left assertive" ng-click="createWorkLocation()">
                    <i class="icon ion-ios-filing rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                    <a1 class="orange">Criar Novo Local de Trabalho</a1>
                </a>
            </div>

            <div class="list card">
                <a class="item item-icon-left assertive" href="#/adminPage">
                    <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                    <a1 class="orange"> Regressar </a1>
                </a>
            </div>

        </form>
        <br><br>
        <br><br>

    </ion-content>

    <script id="districts.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha o distrito</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="districtSelected(district)"
                       class="item item-icon-left"
                       ng-repeat="district in districts">
                        {{district}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="municipalities.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Escolha o concelho</h1>
            </ion-header-bar>
            <ion-content>

                <div class="list" >

                    <a ng-click="municipalitySelected(municipality)"
                       class="item item-icon-left"
                       ng-repeat="municipality in municipalities">
                        {{municipality}}
                    </a>

                </div>

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="streets.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Identifique a Rua</h1>
            </ion-header-bar>
            <ion-content>

                <input class="button button-ride-search" placeholder="Rua" ng-model="newWorkLocation.street">
                <input class="button button-ride-search" value="Submeter pedido" type="submit" ng-click="streetSelected(newWorkLocation.street)">

            </ion-content>
        </ion-modal-view>
    </script>

    <script id="info.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Coloque alguma informação adicional para ajudar a descobrir o local</h1>
            </ion-header-bar>
            <ion-content>

                <input class="button button-ride-search" placeholder="Info" ng-model="newWorkLocation.info">
                <input class="button button-ride-search" value="Submeter pedido" type="submit" ng-click="infoSelected(newWorkLocation.info)">

            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>
