<ion-view view-title="rideDetails">
    <ion-content>
        <br>
        <div class="list card">
          <div class="item item-divider">
              Detalhes da Boleia
          </div>

          <div class="item item-avatar item-text-wrap" href="#">
              <img src="img/default_profile_photo.png">
              <h2>Boleia de Celia Bell</h2>
              <span class="item-note" style="float:left">15 fevereiro às 08:00</span>
              <br>
              <span class="item-note" style="float:left">
                  <i class="icon ion-checkmark" style="color:green"> </i>
                  Boleia confirmada
              </span>
              <br>
          </div>

          <div class="item item-text-wrap item-icon-left">
              <i class="icon ion-ios-home"></i>
              Rua Professor António Gomes, Braga
          </div>

          <div class="item">
              <div class="item item-avatar">
                  <img src="img/default_profile_photo.png">
                  <h2>Tiago Gonçalves</h2>
              </div>
              <div class="item item-avatar">
                  <img src="img/default_profile_photo.png">
                  <h2>Fernanda Santos</h2>
              </div>
              <div class="item item-avatar">
                  <img src="img/default_profile_photo.png">
                  <h2>Leonardo Ribeiro</h2>
              </div>
          </div>

          <div class="item item-text-wrap item-icon-left">
              <i class="icon ion-ios-location"></i>
              R.Artes, Bairro de Santa Luzia, Porto
          </div>

          <div class="item item-text-wrap item-icon-left">
              <i class="icon ion-social-euro"></i>
              €8,80 / pessoa
          </div>

          <a class="item item-icon-left assertive" href="#">
              <i class="icon ion-close-round" style="color:red; font-size:150%"></i>
              <center>Cancelar pedido de boleia</center>
          </a>

        </div>
        <br>
    </ion-content>
</ion-view>
