<ion-footer-bar align-title="left" class="">
    <div class="tabs-top tabs-color-light">

        <div class="tabs-striped tabs-color-assertive">
            <div class="tabs">
                <a class="tab-item" href="#/home">
                    <i class="icon ion-home" ng-class="{ 'orange': isHome}"></i>

                </a>
                <a class="tab-item" href="#/profile">
                    <i class="icon ion-person" ng-class="{ 'orange': isProfile}"></i>
                </a>
                <a class="tab-item" href="#/search">
                    <i class="icon ion-search" ng-class="{ 'orange': isSearch}"></i>
                </a>

            </div>
        </div>
    </div>
</ion-footer-bar>