<ion-view view-title="Home">
    <ion-content>
        <br><br>
        <div class="list card" ng-if="notifications.length > 0">

            <div class="item item-divider">
                <i class="icon ion-email-unread orange"></i>
                Notificações
                <span ng-if="notifications.length > 3" class="badge badge-assertive orange">+{{notifications.length - 3}}</span>
            </div>

            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="notification in notifications | limitTo:3" type="item-text-wrap">
                    <img ng-src="{{notification.photo}}">
                    <h2>{{notification.name}}</h2>
                    <div ng-switch on="notification.msgType" class=" item-text-wrap">
                        <p ng-switch-when="Enter">
                            <i class="ion-checkmark" style="color:green"> </i>
                            Aderiu à sua Boleia - {{notification.rideDate}}
                        </p>
                        <p ng-switch-when="Exit">
                            <i class="ion-information-circled" style="color:blue"> </i>
                            Desistiu da sua Boleia - {{notification.rideDate}}
                        </p>
                        <p ng-switch-when="Cancel">
                            <i class="ion-close" style="color:red"> </i>
                            Cancelou a Boleia - {{notification.rideDate}}
                        </p>
                    </div>

                    <ion-option-button class="button-assertive" ng-click="removeNotification($index)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list>

        </div>

        <div class="list card">

            <div class="item item-divider">
                A minha Próxima Boleia
                <p>15 de fevereiro às 8h00</p>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-home"></i>
                Rua Professor António Gomes, Braga
            </div>

            <div class="item">
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Tiago Gonçalves</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Fernanda Santos</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Leonardo Ribeiro</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Matilde Gomes</h2>
                </div>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-location"></i>
                Avenida Lusíadas, Viseu
            </div>

            <a class="item item-icon-left assertive" href="#/rideDetails">
                <i class="icon ion-information-circled orange"></i>
                <a1 class="orange"> Ver detalhes </a1>
            </a>

        </div>

        <div class="list card">

            <div class="item item-divider">
                Próxima boleia Solicitada
            </div>

            <div class="item item-avatar">
                <img src="img/default_profile_photo.png">
                <h2>Boleia de Celia	Bell</h2>
                <p>15 de fevereiro às 8h00</p>
            </div>

            <div class="item">
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-home"></i>
                    Rua Alberto de Oliveira, Coimbra
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-ios-location"></i>
                    Rua Artes Bairro de Santa Luzia, Porto
                </div>
            </div>

            <a class="item item-icon-left assertive" href="#/rideDetails">
                <i class="icon ion-information-circled orange"></i>
                <a1 class="orange"> Ver detalhes </a1>
            </a>

        </div>
        <br><br>
    </ion-content>
</ion-view>
