
<ion-view view-title="Requested Rides">
    <ion-content>
        <br><br>

        <div class="list card">
            <ion-list>
                <div class="item item-divider" style="white-space:normal">
                    <span style="font-weight: bold">As minhas boleias pré-definidas </span>
                </div>
                <ion-item ng-if="defaultRides.length > 0" ng-repeat="defaultRide in defaultRides" type="item-text-wrap">
                    <div class="text-wrap" ng-click="showPopup(defaultRide)">
                        <a href="#" style="text-decoration: none; color:black;">
                            <i ng-if="defaultRide.type == 'CT'" class="ion-android-arrow-forward orange" style="font-size:200%; float:left;"> </i>
                            <i ng-if="defaultRide.type == 'TC'" class="ion-android-arrow-back orange" style="font-size:200%; float:left;"> </i>
                            <i ng-if="!defaultRide.type " class="ion-android-car orange" style="font-size:200%; float:left;"> </i>
                            <h2 style="margin-left: 40px"> {{defaultRide.name}} </h2>
                            <p style="margin-left: 40px"> Parte às {{defaultRide.date | date : 'HH:mm' }} </p>
                            <p style="margin-left: 40px"> {{defaultRide.seats}} Lugar(es)</p>
                            <p style="margin-left: 40px"> {{defaultRide.cost}} €/Pessoa </p>
                        </a>
                    </div>
                    <br>
                    <a class="item item-icon-left assertive" ng-click="showPopupEdit(defaultRide)" style="background-color:#fff">
                        <i class="icon ion-edit rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                        <a1 class="orange"> Editar </a1>
                    </a>
                    <a class="item item-icon-left assertive" ng-click="showPopupEliminate(defaultRide)" style="background-color:#fff">
                        <i class="icon ion-close rgb(243,121,38)" style="font-size:150%;color:rgb(243,121,38);"></i>
                        <a1 class="orange"> Eliminar </a1>
                    </a>
                </ion-item>
            </ion-list>

            <div ng-if="defaultRides.length == 0 || !defaultRides"type="item-text-wrap">
                <div class="item">
                    <div class="item item-text-wrap item-icon-left">
                        <i class="icon ion-sad-outline"></i>
                        Não tem boleias pré-definidas
                    </div>
                    <a class="item item-icon-left assertive" href="#/createRide/createInfo">
                        <i class="icon ion-map orange" style="bfont-size:150%"></i>
                        <a1 class="orange"> Criar Boleia pré-definida </a1>
                    </a>
                </div>
            </div>
        </div>


        <div class="list card">
            <a class="item item-icon-left assertive" href="#/profile">
                <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                <a1 class="orange"> Regressar </a1>
            </a>
        </div>

        <br><br>

    </ion-content>
</ion-view>
