<ion-view view-title="List Feedbacks">
    <ion-content>
        <br><br>

        <div class="list card">
            <div class="item item-divider" style="white-space:normal">
                <span style="font-weight: bold">As minhas Avaliações</span>
            </div>

            <div ng-if="feedbackList.length > 0" ng-repeat="feedback in feedbackList | orderBy:'date'" type="item-text-wrap" class="card">
                <a href="#/rideDetails/{{feedback.rideID}}/listFeedbacks" style="text-decoration: none; color:black;">
                    <i class="ion-person orange" style="font-size:100%; float:left; margin-left: 27px;"> </i>
                    <p style="margin-left: 55px"> Avaliação de {{feedback.date | date : 'dd/MM/yyyy'}}</p>
                    <i class="ion-model-s orange" style="font-size:100%; float:left; margin-left: 27px;"> </i>
                    <p style="margin-left: 55px;">  {{feedback.startLocation}}
                        <i class="ion-arrow-right-c orange"> </i>
                        {{feedback.destination}}
                    </p>
                        <span class="orange" style="margin-left: 55px;" >
                        <span ng-repeat="i in getNumberComplete(feedback.stars) track by $index"> <i class="icon ion-android-star"></i></span>
                            <span ng-repeat="i in getNumberHalf(feedback.stars) track by $index"><i class="icon ion-android-star-half"></i> </span>
                        <span ng-repeat="i in getNumberEmpty(feedback.stars) track by $index"><i class="icon ion-android-star-outline"></i> </span>
                        </span>

                    <div class="item item-text-wrap item-icon-left" ng-repeat="msg in feedback.messages track by $index" style="padding-top: 5px; padding-bottom: 5px">
                        <i class="icon ion-chatbox orange" style="font-size: 20px"></i>
                        <p>{{msg}}</p>

                    </div>
                </a>
            </div>

            <div ng-if="feedbackList.length == 0"type="item-text-wrap">
                <div class="item">
                    <div class="item item-text-wrap item-icon-left">
                        <i class="icon ion-sad-outline"></i>
                        Ainda não tem avaliações
                    </div>
                </div>
            </div>

        </div>


        <div class="list card">
            <a class="item item-icon-left assertive" href="#/profile">
                <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                <a1 class="orange"> Regressar </a1>
            </a>
        </div>

        <br><br>

    </ion-content>
</ion-view>
