<ion-view view-title="List Rides">
    <ion-content>
    <br><br>

    <div class="list card">
        <ion-list>
            <div class="item item-divider" style="white-space:normal">
                <span style="font-weight: bold">As minhas boleias criadas</span>
            </div>
            <ion-item ng-if="createdRides.length > 0" ng-repeat="createdRide in createdRides" type="item-text-wrap">
                <div class="text-wrap">
                    <a href="#/rideDetails" style="text-decoration: none; color:black;">
                        <h2> <i class="ion-home"> </i>  {{createdRide.start_street}} </h2> <h3 style="margin-left: 17px;"> {{createdRide.start_city}} </h3>
                        <h2> <i class="ion-ios-location"> </i> <span  style="margin-left:1%;"> {{createdRide.destination_street}} </span></h2><h3 style="margin-left:6%;"> {{createdRide.destination_city}} </h3>
                        <p> {{createdRide.day}} às {{createdRide.start_time}} <span style="float:right; margin-top:-20px;"> <i class="ion-person-stalker orange" style="font-size:135%"> </i> {{createdRide.passengers.length}} </span> </p>
                    </a>
                </div>
            </ion-item>

            <ion-item ng-if="createdRides.length == 0"type="item-text-wrap">
                <div class="text-wrap">
                    <p> Não tem boleias criadas </p>
                </div>
            </ion-item> 

        </ion-list>
    </div>

    <div class="list card">
        <a class="item item-icon-left assertive" href="#/profile">
            <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
            <a1 class="orange"> Regressar </a1>
        </a>
    </div>
    
    <br><br>
    
    </ion-content>
</ion-view>
