<ion-view view-title="List Rides">
    <ion-content>
        <br><br>

        <div class="list card">
            <div class="item item-divider" style="white-space:normal">
                <span style="font-weight: bold">As minhas boleias solicitadas</span>
            </div>

            <div ng-if="requestedRides.length > 0" ng-repeat="requestedRide in requestedRides | orderBy:'date'" type="item-text-wrap" class="card">
                <a href="#/rideDetails/{{requestedRide.id}}/listRequestedRides" style="text-decoration: none; color:black;">
                    <div class="text-wrap">
                        <i class="ion-model-s orange" style="font-size:100%; float:left; margin-left: 27px;"> </i>
                        <p style="margin-left: 47px"> Boleia de {{requestedRide.ownerName}} </p>
                        <i class="ion-calendar orange" style="font-size:100%; float:left; margin-left: 27px;"> </i>
                        <p style="margin-left: 47px"> {{requestedRide.date | date : 'dd/MM/yy HH:mm'}} </p>
                        <i class="ion-ios-home orange" style="font-size:100%; float:left; margin-left: 27px;"> </i>
                        <p style="margin-left: 45px;"> {{requestedRide.startLocation}}</p>
                        <i class="ion-ios-location orange" style="font-size:100%; float:left;  margin-left: 29px;"> </i>
                        <p style="margin-left: 47px;">  {{requestedRide.destination}}</p>
                    </div>
                </a>
            </div>

            <div ng-if="requestedRides.length == 0 || !requestedRides"type="item-text-wrap">
                <div class="item">
                    <div class="item item-text-wrap item-icon-left">
                        <i class="icon ion-sad-outline"></i>
                        Não tem boleias solicitadas
                    </div>
                    <a class="item item-icon-left assertive" href="#/search">
                        <i class="icon ion-search orange" style="bfont-size:150%"></i>
                        <a1 class="orange"> Pesquisar Boleias </a1>
                    </a>
                </div>
            </div>

        </div>


        <div class="list card">
            <a class="item item-icon-left assertive" href="#/profile">
                <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                <a1 class="orange"> Regressar </a1>
            </a>
        </div>

        <br><br>

    </ion-content>
</ion-view>
