<ion-view view-title="Login" class="loginBody">
	<ion-content scroll="true">
		<div class="">
			<div class="icon"></div>
			<form>
				<input class="email" type="text" name="email" placeholder="Email" ng-model="user.email">
				<input class="password" type="password" name="password" placeholder="Password" ng-model="user.password">
				<input class="loginButton" type="submit" value="Entrar" ng-click="login(user)">
			</form>
			<button class="signupButtonLink" ui-sref="signup">
				Registar
			</button>
			<div class="forgotPass">
				<a href="#/resetPassword">Esqueceu a password?</a>
			</div>
		</div>
	</ion-content>
</ion-view>
