<ion-view view-title="Login">
	<ion-content scroll="false">
		<div class="loginBody">
			<div class="icon"></div>
			<form>
				<input class="email" type="text" name="email" placeholder="Email">
				<input class="password" type="password" name="password" placeholder="Password">
                <input class="loginButton" type="submit" value="Entrar" ng-click="login()">
			</form>
			<button class="signupButtonLink" ui-sref="signup">
                    Registar
            </button>
		</div>
	</ion-content>
</ion-view>