<ion-view view-title="Profile">
    <ion-content>
        <br><br>
        <div class="list card">

          <div class="item item-divider">
              O meu perfil
          </div>

          <div class="item item-avatar item-text-wrap" href="#">
              <img src="img/default_profile_photo.png">
              <h2>Matilde Gomes</h2>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-ios-star-outline"></i>
          </div>

          <div class="item item-text-wrap item-icon-left">
              <i class="icon ion-ios-location"></i>
              Rua Professor António Gomes, Braga
          </div>

          <a class="item item-icon-left assertive" href="">
              <i class="icon ion-android-create orange" style="font-size:150%"></i>
              <a1 class="orange"> Editar o meu perfil </a1>
          </a>

        </div>

        <div class="list card">

          <div class="item item-divider" style="white-space:normal">
              <span>A minha próxima Boleia</span>
              <span class="item-note" > 15 fevereiro 08:00 </span>
          </div>

          <div class="item item-text-wrap item-icon-left">
              <i class="icon ion-ios-home"></i>
              Rua Professor António Gomes, Braga
          </div>

          <a class="item item-icon-left assertive" href="#">
              <i class="icon ion-plus-circled orange" style="font-size:150%"></i>
              Criar nova boleia
          </a>

        </div>

        <div class="list card">

          <div class="item item-divider">
              Boleias solicitadas
          </div>

          <div class="item item-avatar item-text-wrap" href="#">
              <img src="img/default_profile_photo.png">
              <h2>Boleia de Celia Bell</h2>
              <span class="item-note" style="float:left">15 fevereiro às 08:00</span>
          </div>

          <a class="item item-icon-left assertive" href="#/rideDetails">
              <i class="icon ion-information-circled orange" style="font-size:150%"></i>
              <a1 class="orange"> Ver detalhes </a1>
          </a>

        </div>
        <br><br>
    </ion-content>
</ion-view>
