
<ion-view view-title="Profile">
    <ion-content>
        <br><br>
        <div class="list card" ng-if="user.name != null">

            <div class="item item-divider">
                <span style="font-weight: bold">  O meu perfil </span>
            </div>

            <div class="item item-avatar item-text-wrap" href="#">
                <img ng-src="{{user.photo}}" src="" onError="this.onerror=null;this.src='img/default_profile_photo.png';">
                <h2> {{user.name}} </h2>
                <p> {{user.email}} </p>
                <p> {{user.contact}} <a1 ng-if="user.contact != null && user.residency != null" class="orange">|</a1> {{user.residency}}</p>
                <span ng-repeat="i in getNumberComplete(user.feedaverage) track by $index"> <i class="icon ion-android-star"></i></span>
                <span ng-repeat="i in getNumberHalf(user.feedaverage) track by $index"><i class="icon ion-android-star-half"></i> </span>
                <span ng-repeat="i in getNumberEmpty(user.feedaverage) track by $index"><i class="icon ion-android-star-outline"></i> </span>
            </div>

            <a ng-if="user.permission == 'Admin'" class="item item-icon-left assertive" href="#/adminPage">
                <i class="icon ion-gear-a orange"></i>
                <a1 class="orange">Pagina administrador</a1>
            </a>

            <a class="item item-icon-left assertive" href="#/listFeedbacks">
                <i class="icon ion-ios-list-outline orange" style="font-size:150%"></i>
                <a1 class="orange"> Ver avaliações </a1>
            </a>

            <a class="item item-icon-left assertive" href="#/editProfile">
                <i class="icon ion-android-create orange" style="font-size:150%"></i>
                <a1 class="orange"> Editar o meu perfil </a1>
            </a>

        </div>

        <div class="list card">
            <a class="item item-icon-left assertive" href="#/searchUsers">
                <i class="icon ion-search orange" style="font-size:150%"></i>
                <a1 class="orange"> Pesquisar Utilizadores </a1>
            </a>
        </div>

        <div class="list card">
            <a ng-click="showConfirm()" class="item item-icon-left orange" style="background-color: rgb(243,121,38); height:50px;">
                <i class="icon ion-plus" style="font-size:150%; color: white"></i>
                <a1 style="color: white"> Criar boleia</a1>
            </a>
        </div>

        <div class="list card">
            <a class="item item-icon-left assertive" href="#/listDefaultRides">
                <i class="icon ion-android-arrow-forward orange" style="font-size:150%"></i>
                <a1 class="orange"> As minhas boleias pré-definidas </a1>
            </a>
            <a class="item item-icon-left assertive" href="#/listCreatedRides">
                <i class="icon ion-android-arrow-forward orange" style="font-size:150%"></i>
                <a1 class="orange"> As minhas boleias criadas </a1>
            </a>
            <a class="item item-icon-left assertive" href="#/listRequestedRides">
                <i class="icon ion-android-arrow-forward orange" style="font-size:150%"></i>
                <a1 class="orange"> As minhas boleias solicitadas</a1>
            </a>
        </div>


        <div class="list card">
            <a class="item item-icon-left assertive" ng-click="logout()">
                <i class="icon ion-power orange" style="font-size:150%"></i>
                <a1 class="orange"> Logout </a1>
            </a>
        </div>

        <br><br>

    </ion-content>
</ion-view>
