<ion-view view-title="Login" class="loginBody" >
	<ion-content scroll="true">
		<div class="forgotPasswordBody">
			<div class="icon"></div>
			<form>
				<input class="email" type="text" name="email" placeholder="Email" ng-model="user_email">
			</form>
			<button class="signupButtonLink " style="color: white; background-color: rgb(243,121,38); margin-top:15%" ui-sref="#" ng-click="resetPassword(user_email)">
				Gerar Nova Password
			</button>
			<button class="signupButtonLink" ui-sref="login" >
				Regressar
			</button>
		</div>
	</ion-content>
</ion-view>
