<ion-view view-title="rideDetails">
    <ion-content>
        <br><br>
        <div class="list card" ng-if="!rideNotAvailable">
            <div class="item item-divider">
                Detalhes da Boleia
            </div>

            <a class="item item-avatar item-text-wrap" href="#/userInfo/{{ride.ownerID}}">
                <img ng-src="{{ride.ownerPhoto}}" src="" onError="this.onerror=null;this.src='img/default_profile_photo.png';">
                <h2>Boleia de {{ride.ownerName}}</h2>
                <span class="item-note" style="float:left">{{ride.date | date : 'dd/MM/yy HH:mm' }}</span>
                <br>
            </a>

            <a class="item item-icon-left positive" href="#" ng-click="addToCalendar()">
                <i class="icon ion-calendar"></i>
                Adicionar ao Calendário
            </a>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-android-car"></i>
                <div ng-if="ride.seats - ride.passengers.length > 1"> {{ride.seats - ride.passengers.length}} Lugares disponíveis </div>
                <div ng-if="ride.seats - ride.passengers.length === 1"> {{ride.seats - ride.passengers.length}} Lugar disponível </div>
                <div ng-if="ride.seats - ride.passengers.length === 0"> Não há mais lugares disponíveis </div>
                <div ng-if="ride.seats - ride.passengers.length < 0" style="color:red;"> Alguém vai ter que ir a pé</div>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-home"></i>
                {{ride.startLocation}}
            </div>

            <div class="item">
                <div ng-if="ride.passengers.length > 0" class="item item-avatar" ng-repeat="p in ride.passengers">
                    <img ng-src="{{p.photo}}" src="" onError="this.onerror=null;this.src='img/default_profile_photo.png';">
                    <h2>{{p.name}}</h2>
                    <p ng-if="$index === 0" style = "color: #aaa;">
                        Riding shotgun
                    </p>
                </div>
                <div ng-if="ride.passengers.length <= 0">
                    <div class="item item-text-wrap item-icon-left">
                        <i class="icon ion-sad-outline"></i>
                        Ainda não há passageiros
                    </div>
                </div>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-location"></i>
                {{ride.destination}}
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-social-euro"></i>
                <div ng-if="!ride.typeCost">
                    <div ng-if="ride.cost > 0">
                        {{ride.cost}}€ / pessoa
                    </div>
                    <div ng-if="ride.cost <= 0">
                        Sem Custo
                    </div>
                </div>
            </div>

            <a ng-if="ride.myStatus === 'myRequest'" class="item item-icon-left assertive" ng-click="removeRideRequest()">
                <i class="icon ion-close-round" style="color:red; font-size:150%;"></i>
                Cancelar pedido de boleia
            </a>

            <a ng-if="ride.myStatus === 'myRide'" class="item item-icon-left assertive" href="#/editRide/{{ride.id}}/ride" >
                <i class="icon ion-edit orange" style="font-size:150%"></i>
                <a1 class="orange">Editar Boleia</a1>
            </a>

            <a ng-if="ride.myStatus === 'myRide'" class="item item-icon-left assertive" href="#" ng-click="deleteRide()">
                <i class="icon ion-close-round" style="color:red; font-size:150%"></i>
                Apagar Boleia
            </a>

            <a ng-if="ride.myStatus === 'other' && ride.seats - ride.passengers.length > 0" class="item item-icon-left assertive" ng-click="requestRide()" style="color:green">
                <i class="icon ion-checkmark" style="color:green; font-size:150%"></i>
                Solicitar Boleia
            </a>

        </div>

        <div ng-if="rideNotAvailable" class="list card">
            <div class="item item-divider">
                Detalhes da Boleia
            </div>
            <div class="item">
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-sad-outline"></i>
                    Esta boleia não existe!
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-icon-left assertive" href="#/{{goBack}}">
                <i class="icon ion-android-arrow-dropleft-circle orange" style="font-size:150%"></i>
                <a1 class="orange"> Regressar </a1>
            </a>
        </div>
        <br><br>
    </ion-content>
</ion-view>
