<ion-view view-title="Sign Up">
    <ion-content scroll="false">
        <div class="signup_body">
            <div class="icon"></div>
            <form>
                <input class="first_name" type="text" name="first_name" placeholder="First Name">
                <input class="last_name" type="text" name="last_name" placeholder="Last Name">
                <input class="email" type="email" name="email" placeholder="Email">
                <input class="password" type="password" name="password" placeholder="Password">
                <input class="confirm_password" type="password" name="confirm_password" placeholder="Confirm Password">
                <button class="submitButton"> Sign Up </button>
                <br>
                <button class="loginButton" ui-sref="login"> Log in </button>
            </form>
        </div>
    </ion-content>
</ion-view>