
/* CSS to color the icons to iTGrow's orange */

.badge.badge-assertive.orange {
  background-color: rgb(243,121,38);
}

.orange {
  color: rgb(243,121,38);
}


/* Search page */

.card.col.search-ride {
  padding:0px;
}

.button-ride-search {
  border-color:#DDD;
  display:block;
  width:100%;
}

.submit-search {
  position:center;
  width:50%;
  left:25%;
  background-color: rgb(243,121,38);
  color:white;
}

.button-searchType-selected {
  background-color: rgb(243,121,38);
  color:white;
  border-color:#DDD;
}

.button-searchType-inactive {
  background-color: #DDD;
  color:black;
  border-color:#DDD;
}

/* Login page */

.loginBody{
	background-color: rgb(243,121,38);
	height:100vh;
	overflow: auto;
}

.loginBody .icon{
	width:123px;
	height:43px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/iTGrow.png);
	background-size:contain;
	background-repeat:no-repeat;
	margin-top:30px;
	margin-bottom:60px;
}

.loginBody form input[placeholder]{
	padding-left:30px;
	padding-top:15px;
	padding-bottom:15px;
}

.loginBody form input[type="text"],.loginBody form input[type="password"]{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:5%;
}

.loginBody form input[type="text"]{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom: 1px solid #E0E0E0;
	border-top:2px solid rgb(203,87,9);
	border-left:2px solid rgb(203,87,9);
	border-right:2px solid rgb(203,87,9);
}

.loginBody form input[type="password"]{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:2px solid rgb(203,87,9);
	border-left:2px solid rgb(203,87,9);
	border-right:2px solid rgb(203,87,9);
}

@media all and (max-width: 600px) {
  .button-searchType-selected {
    font-size:3.5vw;
  }

  .button-searchType-inactive {
    font-size:3.5vw;
  }
  
  /* Login page */
  
  .loginBody form input[type="text"],.loginBody form input[type="password"]{
	margin-left:auto;
	margin-right:auto;
	width:100%;
  }
}


/* Signup Page */

body > ion-header-bar {
  display: none;
}



.signup_body {
  background-color: rgb(243,121,38);
  height:100vh;
  overflow: auto;
  text-align: center;

}


.signup_body .icon{
  width:123px;
  height:43px;
  margin-left:auto;
  margin-right:auto;
  background-image:url(../img/iTGrow.png);
  background-size:contain;
  background-repeat:no-repeat;
  margin-top:60px;
  margin-bottom:60px;
}

.signup_body form input{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1%;
  width:70%;
  height: 40px;
}

.signup_body form input[placeholder]{
  padding-left:30px;
  padding-top:15px;
  padding-bottom:15px;
}

.loginBody form input[type="text"]{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom: 1px solid #E0E0E0;
  border-top:2px solid rgb(203,87,9);
  border-left:2px solid rgb(203,87,9);
  border-right:2px solid rgb(203,87,9);
}

.submitButton{
  color: white;
  background-color: rgb(111, 96, 90);
  margin-top: 5%;
  width: 70%; 
  height: 40px; 
  border: none;
}