<ion-view view-title="Home">
    <ion-content>

        <div class="list card">

            <div class="item item-divider">
                Notificações
                <span class="badge badge-assertive orange">5</span>
            </div>

            <div class="item item-avatar item-text-wrap" href="#">
                <img src="img/default_profile_photo.png">
                <h2>Fernanda Melo</h2>
                <p>Aderiu à sua Boleia do dia X</p>
            </div>

            <div class="item item-avatar item-text-wrap" href="#">
                <img src="img/default_profile_photo.png">
                <h2>Daniel Pereira</h2>
                <p>Cancelou a Boleia do dia Y</p>
            </div>

            <div class="item item-avatar item-text-wrap" href="#">
                <img src="img/default_profile_photo.png">
                <h2>Guilherme Rocha</h2>
                <p>Cancelou a solicitação da sua Boleia do dia Z</p>
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-email-unread orange"></i>
                <a1 class="orange"> Ver Restantes Notificações <a1>
            </a>

        </div>

        <div class="list card">

            <div class="item item-divider">
                A minha Próxima Boleia
                <p>15 de fevereiro às 8h00</p>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-home"></i>
                Rua Professor António Gomes, Braga
            </div>

            <div class="item">
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Tiago Gonçalves</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Fernanda Santos</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Leonardo Ribeiro</h2>
                </div>
                <div class="item item-avatar">
                    <img src="img/default_profile_photo.png">
                    <h2>Matilde Gomes</h2>
                </div>
            </div>

            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-location"></i>
                Avenida Lusíadas, Viseu
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-information-circled orange"></i>
                <a1 class="orange"> Ver detalhes </a1>
            </a>

        </div>

        <div class="list card">

            <div class="item item-divider">
                Próxima boleia Solicitada
            </div>

            <div class="item item-avatar">
                <img src="img/default_profile_photo.png">
                <h2>Boleia de Celia	Bell</h2>
                <p>15 de fevereiro às 8h00</p>
            </div>

            <div class="item">
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-home"></i>
                    Rua Alberto de Oliveira, Coimbra
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-ios-location"></i>
                    Rua Artes Bairro de Santa Luzia, Porto
                </div>
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-information-circled orange"></i>
                <a1 class="orange"> Ver detalhes </a1>
            </a>

        </div>

    </ion-content>
</ion-view>
